<%= month_calendar(events: @slots) do |date, meetings| %>
  <%= date.day %>
  <% meetings.each do |meeting| %>
    <% if meeting.booked? %>
        <div class="cancel-fade booked">
          <h6 class="agenda-event my-1">
            <%= meeting.start_time.strftime("%H:%M") %>  - <%= meeting.duration%> mins <br>
          </h6>
        </div>
    <% elsif meeting.reserved? %>
        <div class="cancel-fade reserved">
          <h6 class="agenda-event my-1">
            <%= meeting.start_time.strftime("%H:%M") %>  - <%= meeting.duration%> mins <br>
          </h6>
        </div>
    <% else %>
        <div class="cancel-fade free">
          <h6 class="agenda-event my-1">
            <%= meeting.start_time.strftime("%H:%M") %>  - <%= meeting.duration%> mins <br>
          </h6>
        </div>
    <% end %>
  <% end %>

  <% if !meetings.nil? %>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><%= date.strftime('%A, %d %b %Y')%></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% meetings.each do |meeting| %>
              <div id="<%= meeting.id%>">
                <%= link_to "Edit #{meeting.start_time.strftime("%H:%M")} slot", slot_change_path(meeting), remote: true%>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><%= date.strftime('%A, %d %b %Y')%></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
