 <%= month_calendar(events: @slots) do |date, meetings| %>
  <%= date.day %>
  <% meetings.each do |meeting| %>
    <% if meeting.provisional == false && meeting.booked? %>
      <div>
        <div class="cancel-fade booked">
          <h6 class="agenda-event my-1">
            <%= meeting.start_time.strftime("%H:%M") %>  - <%= meeting.duration%> mins <br>
          </h6>
        </div>
      </div>
    <% elsif meeting.provisional == false %>
      <div id="<%= meeting.id%>">
      <%= link_to slot_change_path(meeting), remote: true do%>
        <div class="cancel-fade reserved">
          <h6 class="agenda-event my-1">
            <%= meeting.start_time.strftime("%H:%M") %>  - <%= meeting.duration%> mins <br>
          </h6>
        </div>
      <% end %>
      </div>
    <% else %>
      <div>
        <div class="cancel-fade free">
          <h6 class="agenda-event my-1">
            <%= meeting.start_time.strftime("%H:%M") %>  - <%= meeting.duration%> mins <br>
          </h6>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
