<div class="my-5 mx-3">

  <%= week_calendar(number_of_weeks: 1, events: @slots) do |date, meetings| %>
    <%= date %>
    <ul 
      id="<%= date.day.to_s.split('').size == 1 ? date.day.to_s.split('').prepend('0').join : date.day %><%= date.month.to_s.split('').size == 1 ? date.month.to_s.split('').prepend('0').join : date.month%><%= date.year%>" 
      class="day">
    <% hour = '0600' %>
    <% while hour != '2300' %>
      <% array_hour = hour.split('') %>
      <% minutes = array_hour[2] + array_hour[3] %>
      <% if minutes == '00' || minutes == '15' || minutes == '30' %>
       <% hour = (hour.to_i + 15).to_s %>
       <% hour = hour.split('').unshift('0').join if hour.split('').size == 3 %>
       <li class="slice <%= hour%>" data-hour=<%= hour%>><%= hour%></li>
       <% elsif minutes == '45' %>
       <% hour = (hour.to_i + 55).to_s %>
       <% hour = hour.split('').unshift('0').join if hour.split('').size == 3 %>
       <li class="slice <%= hour%>" data-hour=<%= hour%>><%= hour%></li>
      <% end %>
    <% end %>
    </ul>
    
    <% meetings.each do |meeting| %>

      <% if meeting.booked? %>
        <div class="calendar-entry" 
          data-id="<%=meeting.id %>"
          data-day="<%=meeting.start_time.strftime("%d%m%Y") %>"
          data-hour="<%=meeting.start_time.strftime("%H%M") %>"
          data-duration-number="<%=meeting.number_of_slots %>">
          <div class="start-hour"><%=meeting.start_time.strftime("%H:%M") %></div>
          <%= fa_icon "window-close", class: "close-card black-link mx-2 delete-slot" %>
          <div class="d-flex justify-content-around my-1">
            <% if meeting.duration == Slot::DURATION[0] %>
              <div class="duration-box active-box"><%=Slot::DURATION[0]%></div>
            <% else %>
            <div class="duration-box"><%=Slot::DURATION[0]%></div>
            <% end %>
            <% if meeting.duration == Slot::DURATION[1] %>
              <div class="duration-box active-box"><%=Slot::DURATION[1]%></div>
            <% else %>
            <div class="duration-box"><%=Slot::DURATION[1]%></div>
            <% end %>
            <% if meeting.duration == Slot::DURATION[2] %>
              <div class="duration-box active-box"><%=Slot::DURATION[2]%></div>
            <% else %>
            <div class="duration-box"><%=Slot::DURATION[2]%></div>
            <% end %>
          </div>
          <%= link_to 'Cancel Class', booking_cancel_path(meeting.booking_active), method: :patch, class: "book-link my-1"%>
        </div>
      <% elsif meeting.reserved? %>
        <div class="calendar-entry"
          data-id="<%=meeting.id %>"
          data-day="<%=meeting.start_time.strftime("%d%m%Y") %>"
          data-hour="<%=meeting.start_time.strftime("%H%M") %>"
          data-duration-number="<%=meeting.number_of_slots %>">
          <div class="start-hour"><%=meeting.start_time.strftime("%H:%M") %></div>
          <%= fa_icon "window-close", class: "close-card black-link mx-2 delete-slot" %>
          <a class="m-1 unreserve-link">Make it bookable</a>
          <div data-id="<%=meeting.id %>" class="d-flex justify-content-around my-1">
            <% if meeting.duration == Slot::DURATION[0] %>
              <div class="duration-box active-box"><%=Slot::DURATION[0]%></div>
            <% else %>
            <div class="duration-box"><%=Slot::DURATION[0]%></div>
            <% end %>
            <% if meeting.duration == Slot::DURATION[1] %>
              <div class="duration-box active-box"><%=Slot::DURATION[1]%></div>
            <% else %>
            <div class="duration-box"><%=Slot::DURATION[1]%></div>
            <% end %>
            <% if meeting.duration == Slot::DURATION[2] %>
              <div class="duration-box active-box"><%=Slot::DURATION[2]%></div>
            <% else %>
            <div class="duration-box"><%=Slot::DURATION[2]%></div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="calendar-entry"
          data-id="<%=meeting.id %>"
          data-day="<%=meeting.start_time.strftime("%d%m%Y") %>"
          data-hour="<%=meeting.start_time.strftime("%H%M") %>"
          data-duration-number="<%=meeting.number_of_slots %>">
          <div class="start-hour"><%=meeting.start_time.strftime("%H:%M") %></div>
          <%= fa_icon "window-close", class: "close-card black-link mx-2 delete-slot" %>
          <a class="my-1 reserve-link">Reserve</a>
          <div class="d-flex justify-content-around my-1">
            <% if meeting.duration == Slot::DURATION[0] %>
              <div class="duration-box active-box"><%=Slot::DURATION[0]%></div>
            <% else %>
            <div class="duration-box"><%=Slot::DURATION[0]%></div>
            <% end %>
            <% if meeting.duration == Slot::DURATION[1] %>
              <div class="duration-box active-box"><%=Slot::DURATION[1]%></div>
            <% else %>
            <div class="duration-box"><%=Slot::DURATION[1]%></div>
            <% end %>
            <% if meeting.duration == Slot::DURATION[2] %>
              <div class="duration-box active-box"><%=Slot::DURATION[2]%></div>
            <% else %>
            <div class="duration-box"><%=Slot::DURATION[2]%></div>
            <% end %>
          </div>
          <a class="book-link my-1"
          data-id="<%=meeting.id %>" 
          data-date="<%=meeting.start_time.strftime("%d/%m/%Y - %H:%M") %>">
          Book Class
          </a>
        </div>
      <% end %>
      <%= render 'modal', slot: meeting %>
    <% end %>
  <% end %>
  <div class='my-legend my-3'>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <li><span style='background: red;'></span>Class booked</li>
        <li><span style='background: green;'></span>Available for booking</li>
        <li><span style='background: rgb(121, 134, 203);'></span>Reserved</li>
      </ul>
    </div>
  </div>
</div>
