<div class="my-5 mx-3">
  <h1>Your next classes:</h1>
  <div id="events_calendar">
    <%= render partial: "calendar", locals: { events: @bookings } %>
  </div>
  <div class="my-5 d-flex justify-content-around">
    <% @bookings&.each do |booking|%>
      <div class="card cancel-fade" style="width: 18rem;">
        <div class="card-body text-center">
          <h5 class="card-title"><%= booking.start_time.strftime("%d/%m/%Y") %> </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= booking.start_time.strftime("%H:%M") %>  - <%= booking.duration%> mins </h6>
          <%= link_to 'Cancel this class', booking_cancel_path(booking), method: :patch, class: "btn btn-outline-secondary my-2 cancel", data: { remote: true } %>
          <%= link_to "See details", teacher_path(booking.teacher), class: "btn btn-outline-secondary my-2" %>
        </div>
      </div>
    <% end %>
  </div>
</div>