<div class="container">

  <div class="card-product my-5">
    <% if @teacher.user.photo.attached? %>
      <%= cl_image_tag @teacher.user.photo.key%>
    <% else %>
      <%= image_tag "user.jpg" %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= @teacher.user.full_name%></h2>
      <p><%= @teacher.description %></p>
      <% @slots&.each do |slot|%>
        <%= link_to "#{slot.start_time.strftime("%d/%m/%Y")} - #{slot.start_time.strftime("%H:%M")}  - #{slot.duration} mins", 
        slot_bookings_path(slot),
        method: :post,
        class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>